header.flex{
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1rem;
}

header ul.flex {
    gap: 16px;
}

header.flex nav{
    background-color: var(--bgheader);
    padding: .77rem 1.6rem;
    border-radius: 55px;
}

header ul li a {
    color: var(--title);
    opacity: .9;
    font-size: .88rem;
    font-weight: 500;
}

header ul li a:hover{
    color: var(--blue);
    opacity: 1;
    font-size: .9rem;

}

header button{
    font-size: 1.2rem;
}