@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


html{
  font-family: "Roboto", sans-serif;
  letter-spacing: .1px;
}
*{
  margin: 0;
  padding: 0;
}

:root{
  --primary : #000;
  --secondary : #18181b;
  --border:rgba(63,63,70,.4);

  --title:rgb(244 244 245);
  --subtitle:rgb(161 161 170);

  --bgheader:rgb(39,39,42);

  --blue:rgb(93 188 252);
}

.light {
  --primary : #fff ;
}

body{
  background-color: var(--primary);
  color: #fff;
}

.contaner{
  border: var(--border) solid 2px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
}

.divider{
  border-bottom: 1px var(--border) solid;
  margin: 3rem 0 ;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: initial;
  transition: .2s;
}

.flex{
  display: flex;
  align-items: center;
}